.App {
  text-align: center;
}

h1{
  margin: 0;
}

.header{
  background-color: orchid;
  padding: 8px;
}

.main{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px;
}

.movie{
  margin-top: 30px;
  background-color: rgb(129, 129, 127);
  border: 2px solid blueviolet;
  padding: 3px;
  font-weight: bold;
  text-align: start;
  width: 15%;
}

.movie img{
  height: 75%;
  width: 100%;
}